@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Baloo+Bhai+2:wght@400..800&family=Mystery+Quest&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: "Baloo Bhai 2", sans-serif;
  scroll-behavior: smooth;
  background: #e3f6fa;
  color: #272e44;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background: #4d67a8;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #4d67a8;
}
.header.is-open .header__background {
  left: 0;
}
.header-title {
  width: 167px;
  height: 24px;
  gap: 4px;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 12px 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 0px 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: #4d67a8;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Afacad;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #fcfcb4;
}
.navigation__link:hover,
.navigation__link:focus {
  color: #fcd313;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    width: 214px;
    height: 36px;
    margin-right: 100px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Afacad;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 646px;
  padding: 111px 28px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Frame\ 40080.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Mystery Quest;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.home-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;

  padding: 24px 0 140px;
}
.home__google-button_image {
  width: 363px;
  height: 76px;
}
.home__google-button_link:hover .home__google-button_image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 844px;
    padding: 194px 0px 0px;
    background-image: url("/img/home/Frame\ 40081.png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    font-family: Mystery Quest;
    font-weight: 400;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }

  .home-text {
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    width: 616px;
    padding: 48px 0 134px;
  }
}
.why {
  width: 375px;

  margin: auto;
  padding: 140px 16px 0;
}

.why-list {
  padding: 32px 0 20px;
}
.why-lists {
  display: none;
}
.why-item {
  width: 253px;
  height: 141px;
  background: #f9e7d2;
  border: 3px solid #8b1923;
  padding-top: 8px;
  padding-right: 8px;
  margin: 0 10px;
}
.why-img {
  width: 32px;
  height: 32px;
  margin-left: 210px;
}
.why-text-bold {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 16px 8px 8px;
}
.why-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 0 8px 8px;
}
@media screen and (min-width: 1200px) {
  .why {
    width: 1440px;
    padding: 70px 72px 0;
  }
  .why-list {
    display: none;
  }
  .why-lists {
    display: flex;
    flex-wrap: wrap;
    padding-top: 56px;
    justify-content: center;
    gap: 24px;
  }
  .why-item {
    width: 306px;
    height: 321px;

    border-width: 3px;
    padding-top: 8px;
    padding-right: 8px;

    margin: 0;
  }
  .why-img {
    width: 88px;
    height: 88px;
    margin-left: 210px;
  }
  .why-text-bold {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 32px 24px 16px;
  }
  .why-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;

    padding: 0 24px 24px;
  }
}
.about {
  padding: 48px 16px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Mystery Quest;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}
.about-div {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.about-img {
  width: 341px;
  height: 264px;
}
.about-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 70px 72px 0;
    width: 1440px;
  }
  .about-title {
    font-family: Mystery Quest;
    font-weight: 400;
    font-size: 56px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .about-div {
    padding-top: 26px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 24px;
  }
  .about-img {
    width: 636px;
    height: 482px;
  }
  .about-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}

.characters {
  padding: 80px 16px 0;
  margin: auto;
  width: 375px;
  height: 586px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/characters/Group\ 5.png");
}

.characters-list {
  padding: 32px 0 24px;
}
.characters-lists {
  display: none;
}
.characters-item {
  width: 253px;
  height: 351px;
  padding: 16px;
  border: 3px solid #8b1923;
  background: #eee4d7;
  margin: 0 10px;
}
.characters-img {
  width: 221px;
  height: 196px;
}
.characters-text-bold {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 12px 0 8px;
}
.characters-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .characters {
    margin-top: 100px;
    padding: 40px 72px 0px;
    width: 1440px;
    height: auto;

    background-position: top;
    background-image: url("/img/characters/circles\ bg.png");
  }
  .characters-list {
    display: none;
  }
  .characters-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding-top: 56px;
  }
  .characters-item {
    width: 306px;
    height: 466px;
    padding: 24px;

    margin: 0px;
  }
  .characters-img {
    width: 258px;
    height: 196px;
  }
  .characters-text-bold {
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    padding: 18px 0 12px;
  }
  .characters-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
  }
}
.reviews {
  width: 375px;
  margin: auto;
  margin-top: 40px;
  padding: 44px 16px 88px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/Frame\ 40081\ \(1\).png");
}

.reviews-list {
  padding: 32px 0 16px;
}
.reviews-lists {
  display: none;
}
.reviews-item {
  margin: 0 5px;
  width: 343px;
  height: 118px;

  padding: 16px;
  background: #c6d7ef;
  border: 3px solid #8b1923;
}

.reviews-text-bold {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
}
.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    padding: 140px 72px 50px;
    background-image: url("/img/Frame\ 40080\ \(1\).png");
  }
  .reviews-list {
    display: none;
  }
  .reviews-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 56px;
  }
  .reviews-item {
    margin: 0;
    width: 308px;
    height: 220px;
    padding: 24px;
  }
  .reviews-item-two {
    width: 526px;
    height: 184px;
    gap: 16px;
    border-width: 3px;
    padding: 24px;
  }
  .reviews-item-three {
    width: 414px;
    height: 220px;
    gap: 16px;
    border-width: 3px;
    padding: 24px;
  }
  .reviews-item-four {
    width: 421px;
    height: 184px;
    gap: 16px;
    border-width: 3px;
    padding: 24px;
  }
  .reviews-item-five {
    width: 851px;
    height: 184px;
    gap: 16px;
    border-width: 3px;
    padding: 24px;
  }
  .reviews-text-bold {
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .reviews-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;

    padding-top: 16px;
  }
}

.gallery {
  width: 375px;
  height: 878px;
  margin: auto;
  margin-top: -140px;
  padding: 200px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/gallery/Frame\ 40082.png");
}

.gallery__list {
  padding: 32px 0 24px;
}
.gallery__item {
  width: 343px;
  height: 610px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    height: 1266px;
    margin-top: -100px;
    padding: 220px 0 0;

    background-image: url("/img/gallery/Rectangle\ 28.png");
  }

  .gallery__item {
    width: 416px;
    height: 740px;
  }

  .gallery__list {
    padding: 56px 0;
  }
}
.features {
  width: 375px;
  margin: auto;
  padding: 80px 16px 40px;
}

.features-list {
  padding: 32px 0 24px;
}
.features-lists {
  display: none;
}
.features-item {
  width: 343px;
  height: 164px;
  background: #9cbae7;
  border: 3px solid #8b1923;
  margin: 0 10px;
  padding: 24px;
}

.features-text-bold {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.features-text {
  padding-top: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
}
.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  width: 32px;
  height: 32px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border: none;
  background: url("/img/icons\ \(2\).png") no-repeat center/cover;

  padding: 0;
  font-size: 0;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: url("/img/icons\ \(1\).png") no-repeat center/cover;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    padding: 82px 80px 70px;
  }
  .features-list {
    display: none;
  }
  .features-lists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding-top: 56px;
  }
  .features-item {
    width: 306px;
    height: 217px;
    padding: 24px;
    margin: 0;
    padding: 24px;
  }
  .features-item-two {
    width: 526px;
    height: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 3px;
    padding: 24px;
  }
  .features-item-three {
    width: 416px;
    height: 166px;
  }
  .features-item-four {
    width: 526px;
    height: 195px;
  }
  .features-item-five {
    width: 416px;
    height: 166px;
  }
  .features-item-six {
    width: 306px;
    height: 193px;
  }
  .features-text-bold {
    font-weight: 500;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -1px;
    vertical-align: middle;
  }
  .features-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    padding-top: 16px;
  }
}
.footer {
  background: #4d67a8;

  color: #fcfcb4;
  padding: 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.footer-text {
  font-family: Afacad;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
  text-decoration-skip-ink: auto;

  color: #fcfcb4;
}

.footer-copyright {
  font-family: Afacad;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 24px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    gap: 16px;
  }

  .footer-wrapper {
    gap: 12px;
  }
  .footer-text {
    font-family: Afacad;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
  }

  .footer-copyright {
    font-family: Afacad;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 116px 16px 40px;
  color: #440d1a;
}
.policy-terms-title {
  font-family: Baloo Bhai 2;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
}

.policy-terms-text {
  font-family: Afacad;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
  padding-top: 20px;
}
.policy-terms-texts {
  padding-top: 8px;
  font-family: Afacad;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}
.policy-terms-text-one {
  padding-top: 20px;
  font-family: Afacad;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  font-family: Afacad;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Afacad;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 183px 72px 80px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-title {
    font-family: Baloo Bhai 2;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 16px;
  border-radius: 24px;
  background: #f8d3d5;

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Afacad;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #440d1a;
}
.cookie-button-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #ffbf01;
  width: 123px;

  border-radius: 14px;
  padding-top: 8px;

  padding-bottom: 8px;
  font-family: Afacad;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #431907;
}
#accept-cookies {
  background: #ffbf01;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.cookie-popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Afacad;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;

    width: 748px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 20px;
    display: none;
  }
}
